.channel {
}

.channel.banner {
    height: calc((100vw - var(--menu-width)) * 0.1655 - 1px);
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #919191;
}

.channel.titlebox {
    height: 80px;
    width: 80%;
    max-width: calc((100vw - var(--menu-width)) - 2 * 20px);
    margin: 20px auto 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.channel.profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin 0 25px 0 0;
    display: inline-block;
}

.channel.profile img {
    display: block;
    width: 100%;
    height: 100%;
}

.channel.title {
    font-weight: 500;
    font-size: 2em;
    flex: 1;
    margin: 0 0 0 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .channel.title {
        font-size: 1.5em;
    }
}

.channel.title > p{
    margin: 0;
}

.channel.menubox {
    width: calc(100vw - var(--menu-width));
    font-weight: 400;
    font-size: 1em;
    background-color: #FFF;
    padding: 20px 0;
}

.channel.menubox.sticky {
    position: fixed;
    top: calc(3em + 2* 10px);
}

.channel.menubox > div {
    width: 60%;
    font-weight: 400;
    font-size: 1em;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
    .channel.menubox > div {
        width: 80%;
    }
}

.channel.menubox > div > a {
    text-decoration: none;
    color: var(--color-text);
    margin: 0 20px;
}

.channel.menubox > div > a:hover {
    color: var(--color-mildhigh);
}

.channel.home.headline {
    margin: 20px 0 0;
}

.channel.home.headline > a {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--color-text);
    display: inline;
}

.channel.home.infoline {
    margin: 20px 0 0;
    padding: 0 0 1em;
}

.channel.home.infoline > p {
    font-weight: 300;
    margin: 0 3em  0 0;
    display: inline;
}

.channel.videos.videosbox {
    margin: 0 50px 50px;
}

@media screen and (max-width: 720px) {
    .channel.videos.videosbox {
        margin: 0 20px 50px;
    }
}

.channel.videos.videosnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px;
}

.channel.videos.videosnav.link {
    text-decoration: none;
    margin: 0;
}

.channel.videos.videosnav.link.enabled {
    color: var(--color-text);
}

.channel.videos.videosnav.link.enabled:hover {
    color: var(--color-mildhigh);
}

.channel.videos.videosnav.link.disabled {
    color: var(--color-mildtext);
    pointer-events: none;
    cursor: default;
}

.channel.videos.videossorting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: -20px 0 10px;
}

@media screen and (max-width: 720px) {
    .channel.videos.videossorting {
        margin: 0 0 10px;
    }
}

.channel.videos.sorting {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
}

.channel.videos.sorting:hover {
    cursor: pointer;
}

.channel.videos.sorting > a {
    margin: 0;
    text-decoration: none;
    color: var(--color-text);
}

.channel.videos.sorting:hover > a {
    color: var(--color-mildtext);
}

.channel.videos.sorting:focus-within > a {
    color: var(--color-mildtext);
}

.channel.videos.sorting ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: -80%;
    display: none;
    margin: 0;
    padding: 0.2em 0 0 0;
    width: 180%;
}

.channel.videos.sorting li {
    padding: 0.3em;
    text-decoration: none;
    display: block;
    position: relative;
    background: #fff;
}

.channel.videos.sorting li > a {
    text-decoration: none;
    color: var(--color-text);
}

.channel.videos.sorting li > a:hover {
    color: var(--color-mildhigh);
}

.channel.videos.sorting:hover > ul,
.channel.videos.sorting:focus-within > ul,
.channel.videos.sorting ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.channel.videos.sorting ul.visible {
    visibility: visible;
    opacity: 1;
    display: block;
}

.channel.videos.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 0 0 20px;
}

.channel.videos.grid.video {
    width: 100%;
    grid-gap: 0;
    padding: 0;
}

.channel.videos.grid.video > a {
    text-decoration: none;
    color: var(--color-text);
}

.channel.videos.grid.video > a > img {
    width: 100%;
    object-fit: contain;
}

.channel.videos.grid.videotitle {
    margin: 10px 0 5px;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.channel.videos.grid.videotitle > p{
    margin: 0;
}

.channel.videos.grid.videoinfo {
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.channel.videos.grid.videoinfo > p{
    color: var(--color-mildtext);
    margin: 0;
}

.channel.info.infobox {
    margin: 35px 50px 50px;
}

.channel.info.infobox > section {
    padding: 1em 0;
}

.channel.info.headline {
    margin: 20px 0 0;
    font-size: 1.5em;
}

.channel.info.description {
    font-weight: 300;
    width: 60%;
    text-align: justify;
    padding: 1em 0;
    margin: 0;
    white-space: pre-line;
}

@media screen and (max-width: 720px) {
    .channel.info.description {
        width: 100%;
    }
}

.channel.info.description > a {
    text-decoration: none;
    color: var(--color-text);
}

.channel.info.description > a:hover {
    color: var(--color-mildhigh);
}

.channel.info.infoitems {
    width: 60%;
    display: grid;
    grid-template-areas: "a a";
    grid-auto-columns: minmax(50px, 200px);
    grid-gap: 20px;
    padding: 1em 0;
    margin: 0;
}

@media only screen and (max-width: 720px) {
    .channel.info.infoitems {
        width: 100%;
    }
}

.channel.info.infoitems > p{
    margin: 0;
}

.channel.info.infotext {
    font-weight: 300;
}

.channel.info.link {
    font-weight: 300;
    text-decoration: none;
    color: var(--color-text);
}

.channel.info.link:hover {
    color: var(--color-mildhigh);
}

